<%
  div_ids = ['piece_settings', 'voices', 'sections', 'submit_to_library']
  div_names = ['Piece Settings', 'Voices', 'Sections', 'Submit to Library']
  partials = {
    'piece_settings' => 'piece_settings',
    'voices' => 'voices_or_sections',
    'sections' => 'voices_or_sections',
    'submit_to_library' => 'submit_to_library'
  }
-%>
<div id="compose_form_wrap">
  <%= render :partial => 'layouts/tabpanel_js', :locals => {:div_ids => div_ids} -%>
  <% div_ids.each do |@voices_or_sections_label| -%>
      <div id="<%= @voices_or_sections_label %>" style="display:<%= if @voices_or_sections_label == 'piece_settings' then 'block' else 'none' end %>;">
        <%= render :partial => 'layouts/tabpanel_list',
                   :locals => {
                      :div_ids => div_ids,                      
                      :div_names => div_names,
                      :div_current => @voices_or_sections_label,
                      :additional_tab_js => get_additional_tab_javascript(@voices_or_sections_label) } %>
        <div class="tab_panel_body">
          <%= info(@voices_or_sections_label, nil, nil, 'position: absolute; top: -3px; right: 3px', 'info_wrap_spacer') %>
          <%= render :partial => partials[@voices_or_sections_label] %>
        </div>
      </div>
  <% end -%>  
</div>  
