<%
  div_ids = ['piece_settings', 'voices', 'sections']
  div_names = ['Piece Settings', 'Voices', 'Sections']
  partials = {
    'piece_settings' => 'piece_settings',
    'voices' => 'voices_or_sections',
    'sections' => 'voices_or_sections',
    'submit_to_library' => 'submit_to_library'
  }
-%>
<div id="compose_form_wrap">  
  <div id="advanced_options_toggle_wrap">
    Show Advanced Options
    <%= check_box_tag "advanced_options_toggle", 1, session[:show_advanced_options], :onclick => remote_function(
        :url => { :action => :set_show_advanced_options_xhr },          
        :with  => "'show_advanced_options=' + encodeURIComponent(this.checked)",
        :before  => 'performAdvancedOptionsToggle()') %>    
  </div>  
  <%= render :partial => 'tabpanel_js', :locals => {:div_ids => div_ids} -%>
  <% div_ids.each do |@voices_or_sections_label| -%>
      <div id="<%= @voices_or_sections_label %>" style="display:<%= if @voices_or_sections_label == 'piece_settings' then 'block' else 'none' end %>;">        
        <%= render :partial => 'tabpanel_list',
                   :locals => {
                      :div_ids => div_ids,                      
                      :div_names => div_names,
                      :div_current => @voices_or_sections_label } %>
        <div class="tab_panel_body">
          <%= info(@voices_or_sections_label, nil, nil, 'position: absolute; top: -3px; right: 3px', 'info_wrap_spacer') %>
          <%= render :partial => partials[@voices_or_sections_label] %>
        </div>
      </div>
  <% end -%>  
</div>  
