<% 
    # if we don't pass an id, just use the name.
    # this allows us to only pass a name for fields which only occur once, like tempo,
    # but also pass an id for fields which occur multiple times, like octave adjustment
    id ||= name
    help_html = PageHtmlPart.get_html_part("help_#{name}") 
    show_id = "show_#{id}_help"
    help_id = "#{id}_help"
-%>
<% if help_html != '' %>
    <a href="#" id="<%= show_id %>"   
       onclick="$('<%= help_id %>').show(); $('<%= show_id %>').hide(); return false;">
     ?</a>
    <div id="<%= help_id %>" class="help" style="display: none">
      <a href="#" onclick="$('<%= help_id %>').hide();$('<%= show_id %>').show(); return false;">
        <%= image_tag('cross.png', 
              :alt => "Close #{name.humanize.downcase} help",
              :title => "Close #{name.humanize.downcase} help",
              :class => 'hide_help') %>
      </a>

      <%= help_html %>      
    </div>
<% end -%>
