<%
    @generating_feed ||= false
    image_style = @generating_feed ? '' : 'display: none'

    if @last_generated_piece
        midi_filename = @last_generated_piece.generated_midi_file
        guido_filename = @last_generated_piece.generated_guido_file
    elsif @output_manager
        midi_filename = @output_manager.getLastMidiFileName
        guido_filename = @output_manager.getLastGuidoFileName
    else
      raise 'Either @last_generated_piece or @output_manager must have a value.'
    end
    
    # Midi player markup taken from:
    # http://joliclic.free.fr/html/object-tag/en/object-audio.html#mid

    play_immediately = (play_immediately.nil? ? false : play_immediately)
    autoplay = (play_immediately ? 'true' : 'false')
    autostart = (play_immediately ? '1' : '0')

    file_timestamp = File.mtime(get_local_filename(midi_filename)).to_i.to_s
    midi_filename = get_full_url_filename("#{midi_filename}?#{file_timestamp}", request)
        
    midi_div_id = "#{div_id_prefix}_midi_player"
    guido_image_id = "#{div_id_prefix}_notation_image"
    guido_image_url = get_guido_image_url(guido_filename)
    loading_div_id = "#{guido_image_id}_loading"
%>

<object class="midi_player" id="<%= midi_div_id %>" type="audio/x-midi" data="<%= midi_filename %>" width="200" height="20">
  <param name="src" value="<%= midi_filename %>" />
  <param name="autoplay" value="<%= autoplay %>" />
  <param name="autoStart" value="<%= autostart  %>" />
    <a href="<%= midi_filename %>">Listen to <%= div_id_prefix.gsub(/_/, ' ') %></a>
</object>   
<div>
  <% unless @generating_feed -%>
    <div id="<%= loading_div_id %>">
      <h2 class="notation-loading">
        Loading Notation&hellip;
        <%= render :partial => 'spinner', :locals => {:display => 'inline', :bottom_px => -4} %>
      </h2> 
    </div>
  <% end -%>

  <%= image_tag(guido_image_url, :alt => 'Music Notation', :id => guido_image_id, :style => image_style) %>  
  <%= javascript_tag("Event.observe(LW$('#{guido_image_id}'), 'load', function() {LW$(\'#{guido_image_id}\').appear(); LW$(\'#{loading_div_id}\').remove()})") unless @generating_feed %>
</div>