<%
# Taken from:
# http://joliclic.free.fr/html/object-tag/en/object-audio.html#mid
 
play_immediately = (play_immediately.nil? ? false : play_immediately)
autoplay = (play_immediately ? 'true' : 'false')
autostart = (play_immediately ? '1' : '0')
puts "midi_filename = #{midi_filename}"
puts "local_filename = #{get_local_filename(midi_filename)}"
midi_filename = "#{midi_filename}?#{File.mtime("/" + get_local_filename(midi_filename)).to_i.to_s}"
-%>
<% if midi_filename -%>   
  &nbsp;     
  <object class="midi_player" id="<%= div_id %>" type="audio/x-midi" data="<%= midi_filename %>" width="200" height="20">
    <param name="src" value="<%= midi_filename %>" />
    <param name="autoplay" value="<%= autoplay %>" />
    <param name="autoStart" value="<%= autostart  %>" />
      <a href="<%= midi_filename %>">Listen to Germ</a>
  </object> 
<% end -%>