<% 
    set_prefix_instance_variables
    override_voice_cb_id = "#{@voice_section_input_id_prefix}_override_voice_settings"    
    voice_loading_div_id = "#{@voice_section_input_id_prefix}_voice_settings_loading_wrap"    
    voice_content_div_id = "#{@voice_section_input_id_prefix}_voice_settings_content_wrap"
    override_section_cb_id = "#{@voice_section_input_id_prefix}_override_section_settings"
    section_loading_div_id = "#{@voice_section_input_id_prefix}_section_settings_loading_wrap"
    section_content_div_id = "#{@voice_section_input_id_prefix}_section_settings_content_wrap"
    rest_id = "#{@voice_section_input_id_prefix}_rest"
    description = "Voice Section for #{@other_type_label} #{@other_type_unique_index}"
    listen_button_identifier = UUID.random_create.to_s.gsub(/-/, '_')
-%>
  
<% render :layout => 'togglable_fieldset_wrapper', 
          :locals => {:link_text => description, 
                      :fieldset_class => 'relative_positioned',
                      :id_prefix => @voice_section_input_id_prefix,
                      :before_yield_identifier => listen_button_identifier,
                      :show_fieldset_initially => false } do %>   

    <% content_for(listen_button_identifier) do -%>
        <div class="ne_corner_wrap">            
            <%= listen_to_part_link(description, "#{@voice_or_section_input_id_prefix}_fieldset", @voice_section_input_id_prefix, 'voice_section', "&voice_index=#{@voice_section.getVoice.getUniqueIndex}&section_index=#{@voice_section.getSection.getUniqueIndex}") %>
        </div>
    <% end -%>
    
    <%= hidden_field_tag "#{@voice_section_input_name_prefix}[ignore]", 'ensure have hash', :id => "#{@voice_section_input_id_prefix}_ignore" %>
    
    <% field_wrap(rest_id, 'Rest') do %>
        <%= check_box_tag "#{@voice_section_input_name_prefix}[rest]", 1, @voice_section.getRest, :id => rest_id %>
    <% end %>
    
    <% field_wrap(override_voice_cb_id, 'Override Voice Settings') do %>
        <%= check_box_tag "#{@voice_section_input_name_prefix}[override_voice_settings]", 
            1, @voice_section.getOverrideVoiceSettings, 
            :id => override_voice_cb_id %> 
        <%= get_voice_section_override_checkbox_onclick_javascript(override_voice_cb_id, voice_loading_div_id, voice_content_div_id, @voice_or_section_div_id, 'Voice', @this_type_unique_index, @other_type_unique_index) %>        
    <% end %>

    <div id="<%= voice_loading_div_id %>" style="display: none">
        <h3>Loading&hellip; <%= render :partial => 'spinner', :locals => {:display => 'inline', :bottom_px => -4} %>  </h3>                 
    </div>
    <div id="<%= voice_content_div_id %>">
        <% # this div must always be present because our code replaces the inner html -%>
        <% if @voice_section.getOverrideVoiceSettings -%>
            <%= render :partial => 'voice_section_overriden_settings', 
                       :locals => {:settings_type => 'Voice', 
                                   :settings => @voice_section.getVoiceSettings,
                                   :override_checkbox_id => override_voice_cb_id} %>
        <% end -%>
    </div>    
    
    <% field_wrap(override_section_cb_id, 'Override Section Settings') do %>
      <%= check_box_tag "#{@voice_section_input_name_prefix}[override_section_settings]", 
          1, @voice_section.getOverrideSectionSettings, 
          :id => override_section_cb_id %> 
      <%= get_voice_section_override_checkbox_onclick_javascript(override_section_cb_id, section_loading_div_id, section_content_div_id, @voice_or_section_div_id, 'Section', @this_type_unique_index, @other_type_unique_index) %>      
    <% end %>

    <div id="<%= section_loading_div_id %>" style="display: none">
        <h3>Loading&hellip; <%= render :partial => 'spinner', :locals => {:display => 'inline', :bottom_px => -4} %>  </h3>                 
    </div>
    <div id="<%= section_content_div_id %>">
        <% # this div must always be present because our code replaces the inner html -%>
        <% if @voice_section.getOverrideSectionSettings -%>
            <%= render :partial => 'voice_section_overriden_settings', 
                       :locals => {:settings_type => 'Section', 
                                   :settings => @voice_section.getSectionSettings,
                                   :override_checkbox_id => override_section_cb_id} %>
        <% end -%>
    </div>    
   
<% end -%>