<% 
    set_prefix_instance_variables 
    scale_check_box_name = "#{@voice_or_section_input_name_prefix}[override_scale]"
    scale_check_box_id = "#{@voice_or_section_input_id_prefix}_override_scale"
    scale_loading_div_id = "#{@voice_or_section_input_id_prefix}_scale_loading_wrap"    
    scale_content_div_id = "#{@voice_or_section_input_id_prefix}_scale_content_wrap"
-%>
<% render :layout => 'one_voice_or_section_wrapper' do -%>        
      Override Scale 
      <%= check_box_tag scale_check_box_name, 
          1, @voice_or_section.getOverridePieceScale, 
          :id => scale_check_box_id, 
          :onclick => get_override_checkbox_onclick_javascript(
                  scale_check_box_id, scale_loading_div_id, 
                  scale_content_div_id, 'get_section_overriden_scale_xhr',
                  "'unique_index=#{@voice_or_section.getUniqueIndex}" + 
                  "&amp;scale_content_wrap_id=#{scale_content_div_id}'") %> 
      <div id="<%= scale_loading_div_id %>" style="display: none">
          <h3>Loading&hellip; <%= render :partial => 'spinner', :locals => {:display => 'inline', :bottom_px => -4} %>  </h3>                 
      </div>
      <div id="<%= scale_content_div_id %>">
          <% # this div must always be present because our code replaces the inner html -%>
          <% if @voice_or_section.getOverridePieceScale -%>
              <%= render :partial => 'scale_selection', 
                         :locals => {:scale => @voice_or_section.getScale, 
                                     :input_prefix => @voice_or_section_input_name_prefix,
                                     :id_to_serialize => get_one_voice_or_section_id,
                                     :generate_update_germ_js => false} %>            
          <% end -%>
      </div>    
      <%= render :partial => 'section_settings', :locals => {:settings => @voice_or_section.getSettings, :input_prefix => @voice_or_section_input_name_prefix} %>   
<% end -%>