  <div class="piece_settings_wrap">    
    <%= render :partial => 'scale_selection', :locals => {:scale => @fractal_piece.getScale, :input_prefix => '', :id_to_serialize => nil, :generate_update_germ_js => true} %>    
        
    Time Signature:
    <%= text_field_tag :time_signature, @fractal_piece.getTimeSignature, :size => 4 %>
    <%= get_live_validation_js_with_defaults('time_signature', @fractal_piece.getTimeSignature,
        {:type => 'Validate.Presence'}, 
        {:type => 'Validate.Format', :args => "{ pattern: /#{com.myronmarston.music.settings.TimeSignature::REGEX_PATTERN_STRING}/, failureMessage: 'Must be a positive fraction with a power of 2 in the denominator.' }"}) %>
    <% remote_time_sig_js = remote_function(
        :url => { :action => :set_time_signature_xhr },          
        :with  => "'time_signature=' + encodeURIComponent(value)" + observe_field_with_js_for_field_that_effects_germ,
        :before  => observe_field_before_js_for_field_that_effects_germ,
        :complete  => observe_field_complete_js_for_field_that_effects_germ,
        :condition => "#{get_live_validation_var_name('time_signature')}.validate()") %>
    <%= observe_field :time_signature, :function => remote_time_sig_js %>    
    <%= info('time_signature', nil, '<br />') %>    
    
    Tempo:    
    <%= text_field_tag :tempo, @fractal_piece.getTempo, :size => 4 %>
    <%= get_live_validation_js_with_defaults('tempo', @fractal_piece.getTempo,
        {:type => 'Validate.Presence'}, 
        {:type => 'Validate.Numericality', :args => "{ onlyInteger: true, minimum: #{com.myronmarston.music.Tempo::MIN_TEMPO_BPM}, maximum: #{com.myronmarston.music.Tempo::MAX_TEMPO_BPM}, notANumberMessage: 'Must be an integer!' }"}) %>    
    <%= info('tempo', nil, '<br />') %>
        
    Germ:  
    <%= info('germ') %>
    <div><!--This div is present to prevent a bug when expanding the germ info, where the text area loses its content-->
      <%= text_area_tag :germ_string, h(session[:germ_string]), :cols => 60, :rows => 1 %>
      <%= observe_field :germ_string, 
          :url => { :action => :set_germ_xhr },         
          :with => "'germ_string='+encodeURIComponent(value)",
          :before => "$('germ_spinner').show(); $('germ_midi_player_wrapper').hide()",
          :complete => "$('germ_spinner').hide(); $('germ_midi_player_wrapper').show()" %>    
    </div>
    <%= render :partial => 'spinner', :locals => {:div_id => 'germ_spinner', :display => 'none', :bottom_px => -4} %>    
    <div id="germ_midi_player_wrapper"<%= get_style_for_germ_midi_player_wrapper %>>  
        <%= render :partial => 'germ_midi_and_image' %>
    </div>    
    <br />
    Generate Layered Intro    
    <%= check_box_tag :generate_layered_intro, 1, @fractal_piece.getGenerateLayeredIntro %>
    <%= info('generate_layered_intro', nil, '<br />') %>
    
    Generate Layered Outro    
    <%= check_box_tag :generate_layered_outro, 1, @fractal_piece.getGenerateLayeredOutro %>
    <%= info('generate_layered_outro') %>
  </div>