  <div class="piece_settings_wrap">    
    <%= render :partial => 'scale_selection', :locals => {:scale => @fractal_piece.getScale, :input_prefix => '', :id_to_serialize => nil} %>    
        
    <% field_wrap('time_signature', 'Time Signature', '', 'time_signature', true, 'piece_settings', nil, 'Time Signature', nil, 
          "{type: Validate.Presence, args: {} }, {type: Validate.Format, args: { pattern: /#{com.myronmarston.music.settings.TimeSignature::REGEX_PATTERN_STRING}/, failureMessage: 'Must be a positive fraction with a power of 2 in the denominator.' } }") do %>
      <%= text_field_tag :time_signature, @fractal_piece.getTimeSignature, :size => 4, :class => 'textbox' %>      
    <% end %>
    
    <% field_wrap('tempo', 'Tempo', '', 'tempo', true, 'piece_settings', nil, 'Tempo', nil,
          "{type: Validate.Presence, args: {}}, {type: Validate.Numericality, args: { onlyInteger: true, minimum: #{com.myronmarston.music.Tempo::MIN_TEMPO_BPM}, maximum: #{com.myronmarston.music.Tempo::MAX_TEMPO_BPM}, notANumberMessage: 'Must be an integer!' }}") do %>
      <%= text_field_tag :tempo, @fractal_piece.getTempo, :size => 4, :class => 'textbox' %>      
    <% end %>
    
    <div class="germ-input-wrap">      
      <% field_wrap('germ', 'Germ', listen_to_part_link('Your Germ', 'piece_settings', 'germ', 'germ', nil), 'germ_string', true, 'piece_settings', nil, 'Germ', nil,
            "{type: Validate.Presence, args: {} }, {type: Validate.Format, args: { pattern: /#{com.myronmarston.music.NoteList::REGEX_STRING}/i, failureMessage: 'Not a valid germ.  Click the help button for info about this.' } }") do %>
          <%= text_area_tag :germ_string, h(session[:germ_string]), :size => '25x3', :class => 'textbox' %>                        
      <% end %>
    </div>    
       
    <% field_wrap('generate_layered_intro', 'Generate Layered Intro', '') do %>
        <%= check_box_tag :generate_layered_intro, 1, @fractal_piece.getGenerateLayeredIntro %>
    <% end %>
    
    <% field_wrap('generate_layered_outro', 'Generate Layered Outro', '') do %>
        <%= check_box_tag :generate_layered_outro, 1, @fractal_piece.getGenerateLayeredOutro %>
    <% end %>
  </div>