<div id="submit_to_library_panel">
  <p> 
    <label for="user_submission_title">
      <strong>Piece Title:</strong> (required)         
    </label>
    <%= text_field 'user_submission', 'title', :size => 35, :maxlength => 50, :class => 'textbox submit_to_library_field' %>    
    <%= get_live_validation_js_with_defaults('user_submission_title', false, {:type => 'Validate.Presence'}) %>
  </p>
  
  <p> 
    <label for="user_submission_name">
      <strong>Name:</strong> (required)         
    </label>
    <%= text_field 'user_submission', 'name', :size => 35, :maxlength => 50, :class => 'textbox submit_to_library_field' %>    
    <%= get_live_validation_js_with_defaults('user_submission_name', false, {:type => 'Validate.Presence'}) %>
  </p>

  <p> 
    <label for="user_submission_email">
      <strong>Email:</strong> (required, but will not be displayed)         
    </label>
    <%= text_field 'user_submission', 'email', :size => 35, :class => 'textbox submit_to_library_field' %>    
    <%= get_live_validation_js_with_defaults('user_submission_email', false, 
        {:type => 'Validate.Presence'},
        {:type => 'Validate.Email'}) %>
  </p>

  <p> 
    <label for="user_submission_website">
      <strong>Website:</strong>        
    </label>
    <%= text_field 'user_submission', 'website', :size => 35, :class => 'textbox submit_to_library_field' %>    
  </p>
  
  <p>
    <label for="user_submission_description">
      <strong>Description: </strong>        
    </label>    
    <%= text_area 'user_submission', 'description', :rows => 10, :cols => 71, :class => 'textbox' %>    
  </p>
  
  <input type="button" class="button" id="submit_to_library_button" value="Submit Piece to Library" onclick="<%= remote_function(        
          :url => {:action => 'submit_to_library_xhr'}, 
          :with => "Form.serialize($('submit_to_library_panel'))",
          :before => "$('submit_to_library_spinner').show(); $('submit_to_library_result_wrap').hide();",
          :complete => "$('submit_to_library_spinner').hide(); $('submit_to_library_result_wrap').show();") %>" />  
  <%= render :partial => 'spinner', :locals => {:display => 'none', :div_id => 'submit_to_library_spinner', :bottom_px => 8} %>      

  <div id="submit_to_library_result_wrap">
  </div>
</div>