<%= check_box_tag "advanced_options_toggle", 1, false, :onclick => "switchid('piece_settings'); $$('ul.tablist').each(function(e) {e.toggle();});" %>


<span id="piece_midi_player_wrapper">  
        <%= render :partial => 'midi_player', :locals => {:midi_filename => @piece_midi_filename, :div_id => 'piece_midi_player'} %>        
        <% if @piece_image_filename %>
          <% clear_computed_public_path_for_image(@piece_image_filename) %>
          <%= image_tag(@piece_image_filename, :alt => 'Piece Notation') %>
      <% end -%>
    </span>       
    
    
    <%= #render :partial => 'voice_settings', :locals => {:settings => @voice_section.getVoiceSettings, :input_prefix => @voice_section_input_name_prefix} %>

<%= render :partial => 'section_settings', :locals => {:settings => @voice_section.getSectionSettings, :input_prefix => @voice_section_input_name_prefix} %>
    
<!--New stuff
<tr>
	<td>include</td>
	<td>partials/change_voice_section_values</td>
	<td>voice_section_prefix=sections_1__voice_sections__1,rest=on,octave_adjustment=-3,speed_scale_factor=4/3,self_similarity_iterations=4,pitch=on,rhythm=off,volume=on,apply_inversion=off,apply_retrograde=off</td>
</tr>
<tr>
	<td>include</td>
	<td>partials/ajax_action</td>
	<td>command=click,target=sections_voices_tab_link</td>
</tr>
<tr>
	<td>include</td>
	<td>partials/ajax_action</td>
	<td>command=click,target=voices_1_voice_sections_show_link,value=</td>
</tr>
<tr>
	<td>include</td>
	<td>partials/expand_fieldset</td>
	<td>toggle_link_id=voices_1__voice_sections__1_show_link</td>
</tr>
<tr>
	<td>include</td>
	<td>partials/verify_voice_section_values</td>
	<td>voice_section_prefix=voices_1__voice_sections__1,rest=on,octave_adjustment=-3,speed_scale_factor=4/3,self_similarity_iterations=4,pitch=on,rhythm=off,volume=on,apply_inversion=off,apply_retrograde=off</td>
</tr>
<tr>
	<td>include</td>
	<td>partials/collapse_fieldset</td>
	<td>fieldset_id=voices_1__voice_sections__1_fieldset</td>
</tr>-->



    
prefix = "#{voice_section_prefix}__voice_sections__#{voice_section_index}"

include_partial 'set_checkbox_value', 
    :id => "#{prefix}_rest",
    :value => rest,
    :ajax => false,
    :verify_value_changing => verify_values_changing

include_partial 'set_checkbox_value', 
    :id => "#{prefix}_override_voice_settings",
    :value => override_voice_settings,
    :ajax => override_voice_settings,
    :verify_value_changing => verify_values_changing

if override_voice_settings
    include_partial 'set_voice_settings_values', 
        :verify_values_changing => verify_values_changing,
        :voice_settings_prefix => prefix,
        :octave_adjustment => octave_adjustment,
        :speed_scale_factor => speed_scale_factor,
        :self_similarity_iterations => self_similarity_iterations,
        :pitch => pitch,
        :rhythm => rhythm,
        :volume => volume
end

include_partial 'set_checkbox_value', 
    :id => "#{prefix}_override_section_settings",
    :value => override_section_settings,
    :ajax => override_section_settings,
    :verify_value_changing => verify_values_changing

if override_section_settings
    include_partial 'set_section_settings_values',
        :section_settings_prefix => prefix,
        :apply_inversion => apply_inversion,
        :apply_retrograde => apply_retrograde,
        :verify_values_changing => verify_values_changing
end 