<%
  div_ids = ['piece_settings', 'voices', 'sections']
  div_names = ['Piece Settings', 'Voices', 'Sections']  
-%>

<%= render :partial => 'layouts/tabpanel_js', :locals => {:div_ids => div_ids} -%>

<% form_tag :action => 'generate_fractal_piece' do %>
    <% div_ids.each do |div_id| -%>
        <div id="<%= div_id %>" style="display:<%= if div_id == 'piece_settings' then 'block' else 'none' end %>;">
          <%= render :partial => 'layouts/tabpanel_list',
                  :locals => {:div_ids => div_ids, :div_names => div_names,
                  :div_current => div_id } %>
          <%= render :partial => div_id %>
        </div>
    <% end -%>    
    
    <div>
      <%= submit_tag 'Generate Piece', :id => 'generate_piece_button',:class => 'button', 
          :onclick => remote_function(
              :url => { :action => :generate_piece_with_default_settings_xhr },
              :update => :piece_midi_player_wrapper, 
              :before => "$('piece_spinner').show()",
              :complete => "$('piece_spinner').hide()" ) 
      %>
      <%= image_tag 'indicator.gif', :style => 'display: none;', :id => 'piece_spinner' %>    
      <span id="piece_midi_player_wrapper">  
          <%= render :partial => 'midi_player', :locals => {:midi_filename => @piece_filename, :div_id => 'piece_midi_player'} %>        
      </span>
    </div>
<% end %>
