<%
    piece_spinner_id = 'piece_spinner'
    start_over_spinner_id = 'start_over_spinner'
%>

<% form_remote_tag  :url => {:action => 'generate_piece_xhr'},
                    :html => {:id => 'compose_form'},                    
                    :before => "$('#{piece_spinner_id}').show()",
                    :complete => "$('#{piece_spinner_id}').hide()" do %>

    <%= render :partial => 'compose_form' %>

    <div id="start_over_button_wrap">      
      <%= render :partial => 'spinner', :locals => {:display => 'none', :div_id => start_over_spinner_id, :bottom_px => 8} %>                
      <input type="button" class="button" id="start_over_button" value="Start Over" onclick="<%= remote_function(        
              :url => {:action => 'clear_session_xhr'}, 
              :before => "$('#{start_over_spinner_id}').show()",
              :complete => "$('#{start_over_spinner_id}').hide()") %>" />  
    </div>
    
    <%= submit_tag 'Generate Piece', :id => 'generate_piece_button', :class => 'button' %>            
    <%= render :partial => 'spinner', :locals => {:display => 'none', :div_id => piece_spinner_id, :bottom_px => 8} %>      
    <span id="generated_piece_image_and_notation">  
        <%= render :partial => 'midi_player_and_notation', 
            :locals => {:midi_player_div_id => 'piece_midi_player', 
                        :midi_filename => @image_midi_filename, 
                        :image_filename => @image_image_filename } %>
    </span>          
<% end %>