<%
    piece_spinner_id = 'piece_spinner'
    start_over_spinner_id = 'start_over_spinner'
%>

<% form_remote_tag  :url => {:action => 'generate_piece_xhr'},
                    :html => {:id => 'compose_form'},                    
                    :before => "$('#{piece_spinner_id}').show()",
                    :complete => "$('#{piece_spinner_id}').hide()" do %>

    <%= render :partial => 'compose_form' %>

    <div id="start_over_button_wrap">      
      <%= render :partial => 'spinner', :locals => {:display => 'none', :div_id => start_over_spinner_id, :bottom_px => 8} %>                
      <input type="button" class="button" id="start_over_button" value="Start Over" onclick="<%= remote_function(        
              :url => {:action => 'clear_session_xhr'}, 
              :before => "$('#{start_over_spinner_id}').show()",
              :complete => "$('#{start_over_spinner_id}').hide()") %>" />  
    </div>
    
    <div>
      <input type="button" class="button" id="generate_piece_button" value="Generate Piece" onclick="<%= 
            "$('#{piece_spinner_id}').show();" +  
            get_lightwindow_js('Your Generated Piece', 'generate_piece_xhr', 'compose_form') +
            "$('#{piece_spinner_id}').hide();"
      %>" />        
      <%= render :partial => 'spinner', :locals => {:display => 'none', :div_id => piece_spinner_id, :bottom_px => 8} %>      
      <span id="generated_piece_image_and_notation">  
          
      </span>   
    </div>
<% end %>