<%
  div_ids = ['piece_settings', 'voices', 'sections']
  div_names = ['Piece Settings', 'Voices', 'Sections']
  
  additional_tab_js = Hash.new
  additional_tab_js['piece_settings'] = ''
  additional_tab_js['voices'] = remote_function(:url => {:action => 'voices_tab_selected_xhr'})
  additional_tab_js['sections'] = remote_function(:url => {:action => 'sections_tab_selected_xhr'})
-%>

<%= render :partial => 'layouts/tabpanel_js', :locals => {:div_ids => div_ids} -%>

<% form_remote_tag  :url => {:action => 'generate_piece_xhr'},
                    :update => 'piece_midi_player_wrapper',
                    :before => "$('piece_spinner').show()",
                    :complete => "$('piece_spinner').hide()" do %>
    <% div_ids.each do |div_id| -%>
        <div id="<%= div_id %>" style="display:<%= if div_id == 'voices' then 'block' else 'none' end %>;">
          <%= render :partial => 'layouts/tabpanel_list',
                     :locals => {
                        :div_ids => div_ids,                      
                        :div_names => div_names,
                        :div_current => div_id,
                        :additional_tab_js => additional_tab_js[div_id] } %>
          <div class="tab_panel_body">
            <%= render :partial => div_id %>
          </div>
        </div>
    <% end -%>    
    
    <div>
      <%= submit_tag 'Generate Piece', :id => 'generate_piece_button', :class => 'button' %>           
      <%= image_tag 'indicator.gif', :style => 'display: none;', :id => 'piece_spinner' %>    
      <span id="piece_midi_player_wrapper">  
          <%= render :partial => 'midi_player', :locals => {:midi_filename => @piece_filename, :div_id => 'piece_midi_player'} %>        
      </span>
    </div>
<% end %>
