<div class="static-page-wrap">
  <p>
    This website is only possible because of the plethora of awesome open source projects out there
    today.  I'd like to acknowledge and thank a few open source projects that are used by fractalcomposer.com:
  </p>

  <ul>
    <%= acknowledgement('JRuby', 'http://jruby.codehaus.org/') %>
    <%= acknowledgement('Ruby on Rails', 'http://www.rubyonrails.org/') %>   
    <%= acknowledgement('Java Simple XML Serialization Framework', 'http://simple.sourceforge.net/') %>
    <%= acknowledgement('Gervill Software Synthesizer', 'https://gervill.dev.java.net/') %>
    <%= acknowledgement('Tritonus Open Source Java Sound', 'http://tritonus.org/') %>
    <%= acknowledgement('Lilypond Music Engraving', 'http://lilypond.org/') %>
    <%= acknowledgement('GUIDO Noteserver', 'http://www.noteserver.org/') %>
    <%= acknowledgement('Prototype JavaScript Framework', 'http://www.prototypejs.org/') %>
    <%= acknowledgement('Script.aculo.us', 'http://script.aculo.us/') %>
    <%= acknowledgement('Lightwindow', 'http://www.stickmanlabs.com/lightwindow/') %>
    <%= acknowledgement('Live Validation', 'http://livevalidation.com/') %>
    <%= acknowledgement('Styleshout Open Source Templates', 'http://www.styleshout.com/') %>  
    <%= acknowledgement('Flash MP3 Player', 'http://flash-mp3-player.net/') %>  
  </ul>

  <p>
    In addition, the fractal composer music generation algorithm has been <%= link_to('implemented as an open source java project', 'http://code.google.com/p/fractal-composer/') %>.
  </p>

  <p>
    Please support open source software!
  </p>
</div>