<%
    div_id = comment.html_div_id
%>
<div class="comment-<%= (@odd_or_even_comment ||= nil) || cycle('odd', 'even') %> rounded-corners" id="<%= div_id %>">
    <div class="comment-inner-wrap">
        <span class="comment-author-name">
            <b><%= link_to_unless(comment.website.nil? || comment.website == '',
                h(comment.name),
                h(comment.website)) %></b> said: <%= "(preview)" if comment.is_preview? %>
        </span>

        <div class="comment-date">
            <%= comment.created_at_description %>
        </div>

        <div class="comment-comment">
            <%= sanitize(simple_format(comment.comment)) %>        
        </div>
    </div>
</div>