  <% url_hash = {:action => 'add_comment', :id => @user_submission} %>
  <% form_remote_tag :url => url_hash,
                     :html => {:action => url_for(url_hash), :id => 'comment_form'},
                     :before => "$('new_comment_spinner').show()",
                     :complete => "$('new_comment_spinner').hide()" do %> 
    <div id="comment-form-inner-wrap">

      <% unless @valid -%>  
          <div id="comment_errors">
            <h3>There was a problem with your comment.</h3>
            <p>Please review the following errors:</p>
            <%= error_messages_for(:comment) %>   
          </div>
      <% end -%>

      <div>
        <%= negative_captcha(@captcha) %>      	  		
        <label for="name">
          <strong>Name</strong> (required)         
        </label>
        <%= negative_text_field_tag @captcha, :name, @comment.name, :size => 35, :maxlength => 80, :class => 'textbox' %>              
      </div>

      <div>
        <label for="email">
          <strong>Email</strong> (required, but will not be displayed)         
        </label>
        <%= negative_text_field_tag @captcha, :email, @comment.email, :size => 35, :class => 'textbox' %>              
      </div>

      <div>
        <label for="website">
          <strong>Website</strong> (optional)
        </label>
        <%= negative_text_field_tag @captcha, :website, @comment.website, :size => 35, :class => 'textbox' %>      
      </div>

      <div>
        <label for="comment">
          <strong>Comment</strong> (required)        
        </label>            
        <%
        #
      %>
        <%= negative_text_area_tag @captcha, :comment, @comment.comment, :rows => 10, :cols => 71, :class => 'textbox' %>        
        <br />
        <br />You can use some HTML tags, such as <%= 'none' %>.      
      </div>

      <div>
        <%= hidden_field_tag 'clicked_button', '' %>
        
        <%= submit_tag "Post Comment", 
            :class => 'button comment-form-button', 
            :id => 'post_comment_button' %>        

        <%= submit_tag "Preview", 
            :class => 'button comment-form-button', 
            :id => 'preview_button' %>        

        <%= render :file => 'compose/_spinner', :use_full_path => true, :locals => {:display => 'none', :div_id => 'new_comment_spinner'} %>                
    </div>
  </div>
<% end %>

<%= javascript_tag(
  # for some reason, the rounded corners javascript prevents any javascript that comes before it from working,
  # so put everything else after it...
  "create_rounded_corners('comment_form');" +    
  "create_live_validation_field_basic('#{@captcha.fields[:name]}', #{ComposeHelper::LIVE_VALIDATION_DELAY}, [{type: Validate.Presence, args: {} }]);" +
  "create_live_validation_field_basic('#{@captcha.fields[:email]}', #{ComposeHelper::LIVE_VALIDATION_DELAY}, [{type: Validate.Presence, args: {} }, {type: Validate.Email, args: {} }]);" +
  "create_live_validation_field_basic('#{@captcha.fields[:comment]}', #{ComposeHelper::LIVE_VALIDATION_DELAY}, [{type: Validate.Presence, args: {} }]);"
) %>            
<%= comment_form_button_js('post_comment_button') %>
<%= comment_form_button_js('preview_button') %>