<div id="piece_title">
  <h3>
      <%= user_submission_title_by_name %>
      <% if @user_submission.display_email? -%>
          (<%= mail_to @user_submission.email, nil, :encode => :hex %>)
      <% end -%>
  </h3>  
  Composed & Generated on <%= @user_submission.created_at.strftime("%A, %B %d, %Y at %I:%M %p") %>
  <br />
  <%= link_to('MP3', @user_submission.piece_mp3_file) %> | <%= link_to('PDF', @user_submission.piece_pdf_file) %>
</div>

<div id="piece_content">  
  <%= render :partial => 'star_rating' %>
  <% if @user_submission.description && @user_submission.description != '' -%>
    <br />
    <b>Description</b>:<%= auto_link(simple_format(sanitize(@user_submission.description))) %>  
  <% end -%>

  <br/>
  <b>Germ</b>: 
  <br/><%= render :partial => 'mp3_player', :locals => {:mp3_file => @user_submission.germ_mp3_file} %>  
  <br/><%= image_tag(@user_submission.germ_image_file) %>

  <br/><b>The Piece</b>: 
  <br/><%= render :partial => 'mp3_player', :locals => {:mp3_file => @user_submission.piece_mp3_file} %>  
  <br/><%= image_tag(@user_submission.piece_image_file) %>
</div>
<div id="comment_list">
  <%= render :partial => 'comment', :collection => @user_submission.comments %>
  <div id="preview_comment">    
    <%= render :partial => 'comment', :locals => {:comment => @comment} if @comment.is_preview? && @valid %>
  </div>
</div>
<div id='leave_a_comment'>
Post a Comment
</div>
<%= render :partial => 'comment_form' %>