<div id="piece_title">
  <h3>
      <%= user_submission_title_by_name %>
      <% if @user_submission.display_email? -%>
          (<%= mail_to @user_submission.email, nil, :encode => :hex %>)
      <% end -%>
  </h3>  
  Composed & Generated on <%= @user_submission.created_at.strftime("%A, %B %d, %Y at %I:%M %p") %>
  <br />
  <%= link_to('MP3', @user_submission.piece_mp3_file) %> | <%= link_to('PDF', @user_submission.piece_pdf_file) %>
</div>

  
  <% if @user_submission.description && @user_submission.description != '' -%>
    <br /><b>Description</b>:<%= auto_link(simple_format(sanitize(@user_submission.description))) %>  
  <% end -%>
<p>
  <br/><b>Germ</b>: <%= render :partial => 'mp3_player', :locals => {:mp3_file => @user_submission.germ_mp3_file} %>  
  <br/><%= image_tag(@user_submission.germ_image_file) %>

  <br/><b>The Piece</b>: <%= render :partial => 'mp3_player', :locals => {:mp3_file => @user_submission.piece_mp3_file} %>  
  <br/><%= image_tag(@user_submission.piece_image_file) %>
</p>