<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fractal Composer Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
    <%= javascript_include_tag :defaults %>     
    <%= active_scaffold_includes %>    
    <%= stylesheet_link_tag 'active_scaffold_overrides' %>  
    <%= stylesheet_link_tag 'lightwindow' %>
</head>

<body>
    <%= yield %>
    <%= developer_info %>
</body>
</html>
